.HomePage {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
  padding: 0;
}

.HomePage .menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  background: #010101;
  color: #fffdff;
  padding: 10px;
  z-index: 1;
  box-sizing: border-box;
  height: 10vh;
}

.HomePage .menu-logo {
  line-height: 0;
  margin: 0 20px
}

.HomePage .menu-logo img {
  height: 80px;
  width: 100px;
  flex-shrink: 0
}

.HomePage .menu-container a {
  text-decoration: none;
  color: #010101;
  transition: color .3s ease
}

.HomePage .menu-container a:hover {
  color: #ed60bc
}

.HomePage .btn {
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666;
  font-family: Arial;
  color: #fffdff;
  font-size: 16px;
  background: #ed60bc;
  padding: 8px 16px;
  text-decoration: none;
  border-width: 0
}

.HomePage .btn:hover {
  background: #fc96d5;
  color: #fffdff !important;
  transition: none
}

.HomePage .menu ul {
  list-style: none
}

.HomePage .menu li {
  padding: 10px 0;
  font-size: 16px
}

.HomePage .menu-container {
  width: 100%
}

.HomePage .menu-container a {
  color: #fffdff
}

.HomePage .menu-container input {
  display: none
}

.HomePage .menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between
}

.HomePage .menu ul {
  display: flex;
  padding: 0
}

.HomePage .menu li {
  padding: 0 20px
}

.HomePage .hero {
  position: relative;
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.HomePage .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../resources/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%)
}

.HomePage .hero-content {
  position: relative;
  width: 75%;
  text-align: left;
  margin: .625rem;
  padding-left: 24px
}

.HomePage .hero-title {
  font-size: 32px;
  padding-bottom: 16px;
  font-weight: 800;
  color: #fffdff;
  margin: 0
}

.HomePage .hero-subtitle {
  font-size: 16px;
  color: #cfcfcf;
  padding-bottom: 16px;
  font-weight: 200;
  margin-top: 1rem
}

.HomePage .heading {
  width: 100%;
  text-align: center
}

.HomePage .div-title {
  font-size: 24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ed60bc;
  text-decoration-thickness: 4px;
  padding-bottom: 8px;
  justify-content: center
}

.HomePage .cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.HomePage .card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, .25), -5px -5px 30px 7px rgba(0, 0, 0, .22);
  cursor: pointer;
  transition: .4s
}

.HomePage .card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px
}

.HomePage .card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover
}

.HomePage .card .card_title {
  text-align: center;
  border-radius: 0 0 40px 40px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: -80px;
  height: 40px
}

.HomePage .card:hover {
  transform: scale(.9, .9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, .25), -5px -5px 30px 15px rgba(0, 0, 0, .22)
}

.HomePage .title-black {
  color: #000
}

.HomePage .join {
  height: 40vh;
  background-color: #f6f6f6;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center
}

.HomePage .join .heading h1 {
  padding-top: 16px
}

.HomePage .css-input {
  padding: 4px;
  font-size: 16px;
  border-width: 1px;
  border-color: #ccc;
  background-color: #fff;
  color: #000;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(66, 66, 66, .75)
}

.HomePage .css-input:focus {
  outline: 0
}

.HomePage .room-number {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px
}

.HomePage .room-number>* {
  margin-left: 20px
}

.HomePage .site-footer {
  background-color: #010101;
  padding: 45px 0 20px;
  font-size: 12px;
  line-height: 24px;
  color: #737373
}

.HomePage .footer-flex {
  display: flex;
  justify-content: space-around
}

.HomePage .site-footer h6 {
  color: #cfcfcf;
  font-size: 16px;
  margin: 5px 0;
  letter-spacing: 2px
}

.HomePage .site-footer a {
  color: #737373;
  text-decoration: none
}

.HomePage .site-footer a:hover {
  color: #ed60bc
}

.HomePage .footer-links {
  padding-left: 0;
  list-style: none
}

.HomePage .footer-links li {
  display: block
}
