.Snake > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Snake .snake-game {
  position: relative;
  margin: auto;
  float: left;
  
  border-style: double;
  border-width: 10px;
  border-color: burlywood;

  width: 720px;
  height: 720px;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background: url(../resources/snake-background.jpeg);
}

.Snake .snake-game .snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: goldenrod;
  border: 1px solid black;
  z-index: 2;
}
